.piano-wrap{
    display: flex;
    position: relative;
    .key{
        background-color: #fff;
        width: 6rem;
        height: 25rem;
        border: 1px solid #333;
    }

    .key-black{
        position: absolute;
        height: 15rem;
        width: 4rem;
        background-color: #222;
        transform: translateX(-50%);
        

        &.Db{
            left:1*$key_width;

        }
        &.Eb{
            left: 2*$key_width;

        }
        &.Gb{
            left: 4*$key_width;
        }
        &.Ab{
            left: 5*$key_width;
        }
        &.Bb{
            left: 6*$key_width;
        }
    }
}


.key-white.active{
    background-color: #dedede;
}
.key-black.active{
    background-color: #444;
}
